<div class="container form-recipe" style="width: 70%">
    <form [formGroup]="formGroup" (ngSubmit)="createRecipe()">
        <div class="row g-3">
            <div class="col-md-6">
                <label for="name">Name of recipe</label>
                <input type="text" pInputText formControlName="name" class="form-control" id="name" aria-describedby="name" placeholder="Name of recipe">
            </div>
            <div class="col-md-6">
                <label for="description">Short description</label>
                <input type="text" pInputText formControlName="description" class="form-control" id="description" aria-describedby="description" placeholder="Short description">
            </div>
        </div>
        <div class="row g-3" style="padding-top: 2rem">
            <div class="col-md-1">
                <label for="portion" class="form-label">Portions</label>
                <input type="number" pInputText formControlName="portion" class="form-control" id="portion" aria-describedby="portion">
            </div>
            <div class="col-md-2">
                <label for="baseEstimate" class="form-label">Time estimate</label>
                <input type="text" pInputText formControlName="baseTimeEstimate" class="form-control" id="baseEstimate" aria-describedby="baseTimeEstimate" placeholder="1h 30m">
            </div>
            <div class="col-md-2">
                <label for="additionalEstimate" class="form-label">Additional estimate</label>
                <input type="text" pInputText formControlName="additionalEstimate" class="form-control" id="additionalEstimate" aria-describedby="additionalEstimate" placeholder="15m">
            </div>
        </div>
        <div class="row g-3" style="padding-top: 2rem">
            <label class="form-label">Instructions (press enter to add more instructions)</label>
            <p-chips [style]="{'display': 'inline'}" placeholder="Enter to insert new instruction" formControlName="instructions" id="instructions"></p-chips>
        </div>
        <div class="row g-3" style="padding-top: 2rem">
            <div class="container-ingredients">
                Available ingredients
                <div
                        cdkDropList
                        #todoList="cdkDropList"
                        [cdkDropListData]="sourceIngredients"
                        [cdkDropListConnectedTo]="[doneList]"
                        class="list"
                        (cdkDropListDropped)="drop($event)">
                    <div class="box" *ngFor="let item of sourceIngredients" cdkDrag>{{item.name}}</div>
                </div>
            </div>

            <div class="container-ingredients">
                Selected ingredients
                <div
                        cdkDropList
                        cdkDropListSortingDisabled
                        #doneList="cdkDropList"
                        [cdkDropListData]="targetIngredients"
                        [cdkDropListConnectedTo]="[todoList]"
                        class="list"
                        (cdkDropListDropped)="drop($event)">
                    <div class="box" *ngFor="let item of targetIngredients" cdkDrag>
                        {{item.name}}
                        <input type="text" (change)="saveIngredientCount(item, $event)"/>
                        <select (change)="saveIngredientUnit(item, $event)">
                            <option *ngFor="let x of units | keyvalue">
                                {{x.key}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row g-3" style="padding-top: 2rem">
            <div class="mb-3">
                <label for="formFile" class="form-label">Image of your recipe</label>
                <input class="form-control" type="file" id="formFile" (change)="onFileSelected($event)">
            </div>
        </div>
        <p-button type="submit" styleClass="p-button-help p-button-rounded" label="Add recipe"></p-button>
    </form>



</div>