<div class="container form-recipe" style="width: 30%">
    <form [formGroup]="formGroup" (ngSubmit)="createIngredient()">
        <div class="row g-3">
            <div class="col-md-12">
                <label for="name">Name of ingredient</label>
                <input type="text" pInputText formControlName="name" class="form-control" id="name" aria-describedby="name" placeholder="Name of ingredient">
            </div>
        </div>
        <p-button type="submit" styleClass="p-button-help p-button-rounded" label="Add ingredient"></p-button>
    </form>
</div>