img {
    width: 100%;
    border-radius: 7px;
}

.instructions-image-preview {
    display: block;
    margin: auto;
    width: 60%;
    padding-bottom: 5rem;
}

.instructions-ingredients {
    padding-top: 1rem;
    padding-bottom: 5rem;
}

.p-tag.p-tag-warning {
    background-color: #FBC02D;
    color: #ffffff;
}

.instructions-list {
    padding-top: 1rem;
}